---
name: Build custom lily58
on: workflow_dispatch
jobs:
  build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      board: '["nice_nano"]'
      shield: '["lily58_left","lily58_right"]'
      branches: '["AMikio/zmk/main"]'
